[submodule ".vim/bundle/Vundle.vim"]
    path = .vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git

[submodule ".vim/bundle/vim-airline"]
    path = .vim/bundle/vim-airline
    url = https://github.com/vim-airline/vim-airline.git

[submodule ".vim/bundle/NERDTree"]
    path = .vim/bundle/NERDTree
    url = https://github.com/scrooloose/nerdtree.git

[submodule ".vim/bundle/Syntastic"]
    path = .vim/bundle/Syntastic
    url = https://github.com/scrooloose/syntastic.git

[submodule ".vim/bundle/ctrlp.vim"]
    path = .vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git

[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".oh-my-zsh/custom/themes/powerlevel9k"]
    path = .oh-my-zsh/custom/themes/powerlevel9k
    url = https://github.com/bhilburn/powerlevel9k.git
